<!doctype html>
<html ng-app="myApp" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test</title>
  <script src="js/angular.js"></script>
  <script src="js/angular-resource.js"></script>
  <script src="js/lb-services.js"></script>
  <script>

    var mountainBikeId = '55f261795ebf2af626449a09';

    angular.module('myApp', ['lbServices']);

    function MyController($scope, Customer, Order) {
      console.log('working');

      $scope.title = 'Welcome';
      $scope.orders = [];

      $scope.customer = Customer.findOne({filter: {where: {name: 'simon'}}}, function (data) {
        console.log('done');
        $scope.orders = Customer.orders({id: $scope.customer.id});
      });

      $scope.inventory = Order.find({});


      $scope.addOrder = function () {
        console.log('add order');
        $scope.newOrder = Customer.orders.create({id: $scope.customer.id}, {description: 'new order', price: 9.99});
        $scope.newOrder.$save();
      };

      $scope.connectOrder = function () {
        console.log('connect order');
//        Customer.orders.link({id: $scope.customer.id, fk:mountainBikeId}, null,
//        function(r){
//          console.log(r);
//        },
//        function(e){
//          console.log(e);
//        });
        Order.findById({id: mountainBikeId}, function (order) {
          order.customerId = $scope.customer.id;
          order.$save(function (data) {
            console.log(data);
          });
        });
      };

      $scope.deleteOrder = function () {
        console.log('delete order');
        //Customer.orders.unlink({id: $scope.customer.id});
        Order.findById({id: mountainBikeId}, function (order) {
          order.customerId = null;
          order.$save(function (data) {
            console.log(data);
          });
        });
      };
    }

  </script>
</head>
<body>
<div ng-controller="MyController">
  <h1>{{title}}</h1>

  <p>{{customer}}</p>

  <p>{{orders}}</p>
  <br>
  <p>{{inventory}}</p>
  <button ng-click="addOrder()">Add Order</button>
  <button ng-click="connectOrder()">Connect Order</button>
  <button ng-click="deleteOrder()">Delete Order</button>
</div>
</body>
</html>
